<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>pioupiou: python lib for avatar generation</title>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js">
</script>
</head>
<body onload="brython()">
  <h1>pioupiou: python lib for avatar generation</h1>
  <p>
    <a href="https://framagit.org/inkhey/pioupiou">pioupiou</a> is a python lib which generate
    random avatar based on different image layers.
  </p>
  <div id="avatar_image_parent">
    <img id="avatar_image" src="/avatar/ {{ token }}.png" title="Avatar" />
  </div>
  <p><b type="text" id="token_name" name="token_name">{{ token }} </b></p>
 <button type="button" id="button_new_token">Try Another Token !</button>
  <script type="text/python">
  from browser import document, ajax, html

  url = '/random_name'

  url = '/random_name'

  def complete(request):
      import json
      data = json.loads(request.responseText)
      token = data["name"]
      avatar_url = "/avatar/" + token + ".png?s=256"
      document["avatar_image_parent"].clear()
      document["avatar_image_parent"] <= html.IMG( id="avatar_image", src=avatar_url, title="Avatar")
      document["token_name"].textContent = token

  def new_token(event):
      req = ajax.ajax()
      req.open("GET", url, True)
      req.bind("complete", complete)
      req.send()

  document["button_new_token"].bind("click", new_token)
  </script>
</body>
</html>
